.card {
  color: rgba(0, 0, 0, 0.6) !important;
  width: 80vw;
  margin: 2rem auto;
  animation: roll-in 0.5s ease;
}

.box {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.actionButtons {
  padding: 0.7rem 10rem;
  justify-content: space-around;
}

.instructions {
  margin-left: 1rem;
  font-family: "Bangers", cursive;
}

@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 600px) {
  .playersTable {
    visibility: hidden;
  }
  .openScoreboardButton {
    margin-top: 2rem;
  }
}
