.card {
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  width: 40vw;
  margin: 1.5rem;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow-y: hidden !important;
}

.podium {
  text-align: center;
  color: #f4f4f4;
  margin: 1rem auto 0;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: 30rem;
}

.card:before {
  background: white none repeat scroll 0 0;
  box-shadow: 0 0 29px 10px #ffffff;
  content: "";
  filter: blur(20px);
  height: 90%;
  position: absolute;
  top: 0;
  transform: rotate(25deg);
  width: 25px;
  opacity: 0.6;
  animation: light 4s infinite;
}

.podium p {
  margin-top: 0.3rem;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  width: 100%;
  background-color: #ff0063;
  height: 2rem;
}

.podiumBox {
  width: 10rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.8rem;
}

.silver,
.gold,
.bronze {
  background-color: #66bfbf;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.silver {
  height: 60%;
}

.gold {
  height: 80%;
}

.bronze {
  height: 50%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0063;
  height: 2rem;
}

@keyframes light {
  0% {
    left: -25%;
  }
  25% {
    left: 85%;
    /* opacity: 1; */
  }
  100% {
    left: 85%;
    opacity: 0;
  }
}
