.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #eaf6f6;
  text-align: center;
  font-size: 0.7rem;
}

.footer svg,
a,
span {
  color: #66bfbf;
  font-weight: 500;
  text-decoration: none;
}
.footer a:hover,
svg:hover {
  color: #b2efef;
}
.footer p {
  font-size: 0.9rem;
  color: #ff0063;
  font-weight: bold;
}
.information {
  height: 11rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10rem;
}

.techStack {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.contactIcons {
  display: inline-flex;
  gap: 0.7rem;
  color: #2196f3;
}

.copyrights {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66bfbf;
  height: 3rem;
  font-size: 0.6rem;
}

@media only screen and (max-width: 600px) {
  .footer {
    letter-spacing: 0.1rem;
  }
  .information {
    height: 6rem;
    gap: 1rem;
  }
  .aboutMe,
  .techStack {
    display: none;
  }
}
