/* body {
    text-align: center;
} */

/* color pallete
backgroung white #ffff

dark torquise #66BFBF

light grey #EAF6F6

bright pink #FF0063 */

.App {
  position: relative;
  min-height: 100vh;
}

.wrapper {
    padding-bottom: 15rem;
}