
/* color pallete
backgroung white #ffff

dark torquise #66BFBF

light grey #EAF6F6

bright pink #FF0063 

dark grey text rgba(0, 0, 0, 0.6)
*/

.App {
  position: relative;
  min-height: 100vh;
  
}

.wrapper {
    padding-bottom: 15rem;
}

button {
  color: #66BFBF !important;
  font-size: .9rem !important;
  font-weight: bold !important;
}